<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01 Transitional//EN'>
<html>

<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
<meta http-equiv='Content-Script-Type' content='text/javascript'>
<meta http-equiv='Content-Style-Type' content='text/css'>
<TMPL_VAR NAME=ROBOTS><meta name=author content='Yuki Naito'>
<title><TMPL_VAR NAME=TITLE></title>
<link rel='stylesheet' type='text/css' media='all' charset='UTF-8'
	href='//cdn.sencha.com/ext/gpl/4.2.1/resources/css/ext-all-neptune.css'>
<link rel='stylesheet' type='text/css' media='all' charset='UTF-8'
	href='static/css/style.css'>
<script type='text/javascript' charset='utf-8'
	src='//cdn.sencha.com/ext/gpl/4.2.1/ext-all.js'></script>
<script type='text/javascript' charset='utf-8'
	src='//cdn.sencha.com/ext/gpl/4.2.1/locale/ext-lang-en.js'></script>
<!-- suppress flicking by javascript on page load -->
<style type='text/css'>body { visibility: hidden }</style>
<noscript>
<style type='text/css'>body { visibility: visible }</style>
</noscript>
<script type='text/javascript'>
<!--
function hideDebug() {
	if (document.getElementById('debug').style.display == 'none') {
		document.getElementById('debug').style.display = 'block';
	} else {
		document.getElementById('debug').style.display = 'none';
	}
}
//-->
</script>
<style type='text/css'>
<!--
	* { font-family:verdana,arial,helvetica,sans-serif }
	.mono { font-family:monaco,courier,monospace }
	p,ol,pre,div,small,cite { font-size:9pt }
	cite { color:#0E774A; font-style:normal }
	a { color:black; font-style:normal }
	em {
		font-family:inherit;
		font-style:normal;
		border:1px solid #00BCFF;
		background-color:#DDF6FF;
	}
	strong {
		font-family:inherit;
		font-style:normal;
		font-weight:bold;
		color:red;
		background-color:#DDF6FF;
	}
	ins,del {
		font-family:inherit;
		font-style:normal;
		font-weight:bold;
		text-decoration:none;
		background-color:pink;
	}
	.position {
		position:absolute;
		top:-1.2em;
		left:1em;
		color:#0E774A;
		font-size:80%;
		user-select:none;
	}
	.pointer {
		position:absolute;
		top:-0.8em;
		width:0; height:0;
		border-left: 0.35em solid transparent;
		border-right:0.35em solid transparent;
		border-top:  0.80em solid #0E774A;
	}
	.gene { margin:10pt }
	.a { color:#3366CC }
	.t { font-size:10pt; width:90% }
	.b { word-wrap:break-word; width:90% }
	.g { color:gray; width:90% }
	.s { color:silver; width:90% }
-->
</style>
</head>

<body style='background:white'>

<a href='.'><img src='GGGlogo_en.png' alt='GGGenome' height=71 width=257 border=0></a>

<small style='vertical-align:55px'>
<a href='help.html'>Help</a>
<font color=silver>|</font>
<a href='?lang=ja' >Japanese</a>
</small>

<form name=gggenome method=GET action='./'>
<p>
<input type=text name=query size=70 value='<TMPL_VAR NAME=QUERY>'>
<input type=submit value='Search'>
<select id=db name=db>
<TMPL_VAR NAME=SELECT>
</select>
<br>
Max number of mismatches/gaps: <input type=text name=k size=3 value='<TMPL_VAR NAME=K>'>
(no more than 25% of the query length)
<br>
<TMPL_VAR NAME=STRAND>
</p>
</form>

<TMPL_VAR NAME=CHATA>
<TMPL_VAR NAME=HTML>

<hr><!-- __________________________________________________ -->

<p class=g>GGGenome by
<a target='_blank' class=a href='http://twitter.com/meso_cacase'>@meso_cacase</a> at
<a target='_blank' class=a href='http://dbcls.rois.ac.jp/'>DBCLS</a><br>
This page is licensed under a
<a target='_blank' class=a href='http://creativecommons.org/licenses/by/2.1/jp/deed.en'>
Creative Commons Attribution 2.1 Japan License</a>.</p>

<!-- paging toolbar and dropdown menu -->
<script type='text/javascript' src='static/js/app.js' charset='utf-8'></script>
<!-- suppress flicking by javascript on page load -->
<script type='text/javascript'>
<!--
var body = document.getElementsByTagName('body').item(0);
body.style.visibility = 'visible';
//-->
</script>

</body>
</html>
