<p class=g><TMPL_VAR NAME=TIMESTAMP>, GGGenome : <TMPL_VAR NAME=DB_FULLNAME></p>

<h4>Summary:</h4>

<div>
<ul>
<TMPL_VAR NAME=SUMMARY>
</ul>
</div>

<h4>Results:</h4>

<p>＋鎖および－鎖それぞれ<TMPL_VAR NAME=MAX_HIT_HTML>件まで表示。
検索語に<em>色がつきます（<strong>ミスマッチ</strong>・<ins>挿入</ins><del>欠失</del>）</em>。</p>
<TMPL_VAR NAME=HIT_LIST>

<h4>Data Export:</h4>

<p>下記のフォーマットで最大<TMPL_VAR NAME=MAX_HIT_API>件まで検索結果を取得できます。</p>

<div>
<ul>
	<li>タブ区切りテキスト &rarr;
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.txt'>表示</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.txt.download'>ダウンロード</a><br>
		エクセル等の表計算ソフトに直接コピペできます。
	<li>CSV形式 &rarr;
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.csv'>表示</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.csv.download'>ダウンロード</a><br>
		エクセル等の表計算ソフトにて開くことができます。
	<li>BED形式 &rarr;
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.bed'>リンク</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.bed.download'>ダウンロード</a>
	<li>GFF形式 &rarr;
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.gff'>リンク</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.gff.download'>ダウンロード</a>
	<li>JSON形式 &rarr;
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.json'>リンク</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.json.download'>ダウンロード</a>
</ul>
</div>

<h4 class=s id='hide' onclick='hideDebug()'>Debug Info:</h4>

<div id='debug'>
<p class=s>
Redirect URI : http://<font color='#808080'><TMPL_VAR NAME=HTTP_HOST></font><TMPL_VAR NAME=REDIRECT_URI><br>
lang         : <font color='#808080'><TMPL_VAR NAME=LANG    ></font> |
db           : <font color='#FFB280'><TMPL_VAR NAME=DB      ></font> |
k            : <font color='#7F7FFF'><TMPL_VAR NAME=K       ></font> |
query_string : <font color='#6BB36B'><TMPL_VAR NAME=QUERY   ></font> |
format       : <font color='#FF80BF'><TMPL_VAR NAME=FORMAT  ></font> |
download     : <font color='#808080'><TMPL_VAR NAME=DOWNLOAD></font>
</p>

<pre class=s>
<TMPL_VAR NAME=TIMELOG>
</pre>
</div>

<script>hideDebug()</script>
