<p class=g><TMPL_VAR NAME=TIMESTAMP>, GGGenome : <TMPL_VAR NAME=DB_FULLNAME></p>

<h4>Summary:</h4>

<div>
<ul>
<TMPL_VAR NAME=SUMMARY>
</ul>
</div>

<h4>Results:</h4>

<p>Matches are <em>highlighted with blue background.
<strong>Mismatches</strong> and <ins>in</ins><del>dels</del></em> are marked in red.
<noscript><br>Showing 50 hits from the search result.</noscript></p>
<TMPL_VAR NAME=HIT_LIST>

<h4 id='data_export'>Data Export:</h4>

<p>Maximum <TMPL_VAR NAME=MAX_HIT_API> results can be retrieved in various formats shown below:</p>

<div>
<ul>
	<li>Tab-delimited text:
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.txt'>Open in new window</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.txt.download'>Download</a><br>
		You can copy-paste the result into spreadsheet softwares
		(e.g. Excel) or text editors.
	<li>CSV format:
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.csv'>Open in new window</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.csv.download'>Download</a><br>
		You can open CSV files using spreadsheet softwares
		(e.g. Excel) or text editors.
	<li>BED format:
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.bed'>Link</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.bed.download'>Download</a>
	<li>GFF format:
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.gff'>Link</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.gff.download'>Download</a>
	<li>JSON format:
		<a target='_blank' href='<TMPL_VAR NAME=LINKBASE_URI>.json'>Link</a> |
		<a href='<TMPL_VAR NAME=LINKBASE_URI>.json.download'>Download</a>
</ul>
</div>

<h4 class=s id='hide' onclick='hideDebug()'>Debug Info:</h4>

<div id='debug'>
<p class=s>
Redirect URI : http://<font color='#808080'><TMPL_VAR NAME=HTTP_HOST></font><TMPL_VAR NAME=REDIRECT_URI><br>
lang         : <font color='#808080'><TMPL_VAR NAME=LANG    ></font> |
db           : <font color='#FFB280'><TMPL_VAR NAME=DB      ></font> |
k            : <font color='#7F7FFF'><TMPL_VAR NAME=K       ></font> |
strand       : <font color='#CC99FF'><TMPL_VAR NAME=STRAND  ></font> |
query_string : <font color='#6BB36B'><TMPL_VAR NAME=QUERY   ></font> |
format       : <font color='#FF80BF'><TMPL_VAR NAME=FORMAT  ></font> |
download     : <font color='#808080'><TMPL_VAR NAME=DOWNLOAD></font> |
debug        : <font color='#888888'><TMPL_VAR NAME=DEBUG   ></font>
</p>

<pre class=s>
<TMPL_VAR NAME=TIMELOG>
</pre>
</div>

<script>hideDebug()</script>
