<script type='text/javascript'>
<!--
document.gggenome.query.focus()
//-->
</script>

<div>
Search example:
<ul>
	<li><font color=purple>[</font>
		<a href='TTCATTGACAACATT'>TTCATTGACAACATT</a>
		<font color=purple>]</font> ...... Search for a nucleotide sequence
	<li><a href='help.html'>How to use in detail ...</a>
	<li>Search genes and transcripts by various keywords &rarr; Please try
		<a target='_blank' href='http://GGRNA.dbcls.jp/'>
			<img height=20 src='GGRNAlogo_small.png' alt='GGRNA'></a>
		<ul>
			<li>Example for searching 'nanog' in human:
				<a target='_blank' href='http://GGRNA.dbcls.jp/hs/nanog' class=k><!--
				-->http://GGRNA.dbcls.jp/hs/nanog</a>
		</ul>
</ul>
</div>

<div>
URIs:
<ul>
	<li>http[s]://GGGenome.dbcls.jp/<!--
		--><span style='color:#FF6600'>db</span>/<!--
		--><span style='color:#0000FF'>k</span>/<!--
		-->[<span style='color:#9933FF'>strand</span>]/<!--
		--><span style='color:#008000'>sequence</span><!--
		-->[.<span style='color:#FF0080'>format</span>]<!--
		-->[.<span style='color:brown'>download</span>]
	<ul>
		<li><span style='color:#FF6600'>db</span>:
			hg19, mm10, dm3, ce10, TAIR10, pombe, refseq, etc. (default: hg19)<br>
			<a href='help.html#genomelist'>List of available databases</a>
		<li><span style='color:#0000FF'>k</span>:
			Maximum number of mismatches/gaps. (default: 0)
		<li><span style='color:#9933FF'>strand</span>:
			'+' ('plus') or '-' ('minus') to search specified strand only. (optional)
		<li><span style='color:#008000'>sequence</span>:
			Nucleotide sequence, case insensitive.
		<li><span style='color:#FF0080'>format</span>:
			html, txt, csv, bed, gff, json. (default: html)
		<li><span style='color:brown'>download</span>:
			Download result as a file. (optional)
	</ul>
	<li>Example 1: <a href='http://GGGenome.dbcls.jp/TTCATTGACAACATT'><!--
		-->http://GGGenome.dbcls.jp/<!--
		--><span style='color:#008000'>TTCATTGACAACATT</span><!--
		--></a>
	<ul>
		<li>Search <span style='color:#008000'>TTCATTGACAACATT</span> in
		<li>human genome <span style='color:#FF6600'>hg19</span> (default),
		<li>with perfect matches (default),
		<li>output in <span style='color:#FF0080'>html</span> format (default).
	</ul>
	<li>Example 2: <a href='http://GGGenome.dbcls.jp/mm10/2/+/TTCATTGACAACATTGCGT.txt'><!--
		-->http://GGGenome.dbcls.jp/<!--
		--><span style='color:#FF6600'>mm10</span>/<!--
		--><span style='color:#0000FF'>2</span>/<!--
		--><span style='color:#9933FF'>+</span>/<!--
		--><span style='color:#008000'>TTCATTGACAACATTGCGT</span><!--
		-->.<span style='color:#FF0080'>txt</span><!--
		--></a>
	<ul>
		<li>Search <span style='color:#008000'>TTCATTGACAACATTGCGT</span> in
		<li>mouse genome <span style='color:#FF6600'>mm10</span>,
		<li>allowing <span style='color:#0000FF'>2</span> mismatches/gaps,
		<li>search for <span style='color:#9933FF'>+</span> strand only,
		<li>output in tab-delimited <span style='color:#FF0080'>txt</span> format.
	</ul>
</ul>
</div>

<div>
What's new:
<ul>
	<li>2015-09-08 Added 14 genomes from
		<a target='_blank' href='http://www.ensembl.org/info/about/species.html'>Ensembl</a>.
	<li>2015-09-08 Added 35 genomes from
		<a target='_blank' href='http://metazoa.ensembl.org/species.html'>EnsemblMetazoa</a>.
	<li>2015-09-08 Added 39 genomes from
		<a target='_blank' href='http://plants.ensembl.org/species.html'>EnsemblPlants</a>.
	<li>2015-09-08 Added 23 genomes from
		<a target='_blank' href='http://phytozome.jgi.doe.gov/'>Phytozome</a>.
	<li>2015-09-07 Database updated to RefSeq rel. 72 (Sep, 2015).
	<li>2015-07-22 100+ genome databases are added -
		<a href='help.html#genomelist'>List of databases</a>
	<li>2015-03-18 Parameter for searching specific strand is supported.
	<li>2015-01-13 HTTPS encrypted connection supported -
		<a href='https://GGGenome.dbcls.jp/'>https://GGGenome.dbcls.jp/</a>
	<li>2014-10-01 CSV, BED, GFF outputs are newly supported.
	<li>2014-10-01 Sequence containing IUB code letters (N, R, Y, ...) can be queried.
	<li><a href='help.html#news'>News archives</a>
</ul>
</div>
