<script type='text/javascript'>
<!--
document.gggenome.query.focus()
//-->
</script>

<div>
検索例：
<ul>
	<li><font color=purple>[</font>
		<a href='TTCATTGACAACATT'>TTCATTGACAACATT</a>
		<font color=purple>]</font> ...... 塩基配列を検索
	<li><a href='help.html'>詳細な使い方</a>
	<li>遺伝子や転写産物のキーワード検索は
		<a target='_blank' href='http://GGRNA.dbcls.jp/'>
			<img height=20 src='GGRNAlogo_small.png' alt='GGRNA'></a>《ぐぐるな》へ
		<ul>
			<li>例）ヒトの「nanog」を検索：
				<a target='_blank' href='http://GGRNA.dbcls.jp/hs/nanog' class=k><!--
				-->http://GGRNA.dbcls.jp/hs/nanog</a>
		</ul>
</ul>
</div>

<div>
検索結果へのリンク：
<ul>
	<li>http[s]://GGGenome.dbcls.jp/<!--
		--><span style='color:#FF6600'>db</span>/<!--
		--><span style='color:#0000FF'>k</span>/<!--
		-->[<span style='color:#9933FF'>strand</span>]/<!--
		--><span style='color:#008000'>sequence</span><!--
		-->[.<span style='color:#FF0080'>format</span>]<!--
		-->[.<span style='color:brown'>download</span>]
	<ul>
		<li><span style='color:#FF6600'>db</span> &rarr;
			hg19, mm10, dm3, ce10, TAIR10, pombe, refseq, etc. 省略時は hg19<br>
			<a href='help.html#db_list'>検索可能なデータベース一覧</a>
		<li><span style='color:#0000FF'>k</span> &rarr;
			許容するミスマッチ/ギャップの数。あまり大きいとしぼうする。省略時は 0
		<li><span style='color:#9933FF'>strand</span> &rarr;
			'+' ('plus') または '-' ('minus') で特定の方向のみ検索。省略時は両方向を検索
		<li><span style='color:#008000'>sequence</span> &rarr;
			塩基配列。大文字・小文字は区別しない
		<li><span style='color:#FF0080'>format</span> &rarr;
			html, txt, csv, bed, gff, json。省略時は html
		<li><span style='color:brown'>download</span> &rarr;
			URLの最後に付加すると検索結果をファイルとしてダウンロードできる
	</ul>
	<li>例1：<a href='http://GGGenome.dbcls.jp/TTCATTGACAACATT'><!--
		-->http://GGGenome.dbcls.jp/<!--
		--><span style='color:#008000'>TTCATTGACAACATT</span><!--
		--></a>
	<ul>
		<li>ヒトゲノム <span style='color:#FF6600'>hg19</span> (省略可) で
		<li>ミスマッチ/ギャップを許容せず (省略可)
		<li><span style='color:#008000'>TTCATTGACAACATT</span> を検索し
		<li><span style='color:#FF0080'>html</span> 形式 (省略可) で結果を返す
	</ul>
	<li>例2：<a href='http://GGGenome.dbcls.jp/mm10/2/+/TTCATTGACAACATTGCGT.txt'><!--
		-->http://GGGenome.dbcls.jp/<!--
		--><span style='color:#FF6600'>mm10</span>/<!--
		--><span style='color:#0000FF'>2</span>/<!--
		--><span style='color:#9933FF'>+</span>/<!--
		--><span style='color:#008000'>TTCATTGACAACATTGCGT</span><!--
		-->.<span style='color:#FF0080'>txt</span><!--
		--></a>
	<ul>
		<li>マウスゲノム <span style='color:#FF6600'>mm10</span> で
		<li><span style='color:#0000FF'>2</span> ミスマッチ/ギャップまで許容して
		<li><span style='color:#9933FF'>+</span> 方向に限定して
		<li><span style='color:#008000'>TTCATTGACAACATTGCGT</span> を検索し
		<li><span style='color:#FF0080'>txt</span> 形式 (タブ区切りテキスト) で結果を返す
	</ul>
</ul>
</div>

<div>
新着情報：
<ul>
	<li>2016-07-12 RefSeq rel. 77 (Jul, 2016) に更新。
	<li>2016-06-13 10種のゲノムを追加 -
		<a target='_blank' href='https://gist.github.com/meso-cacase/b49296a31264b19eb2f52d401b6c4991'>追加リスト</a>
	<li>2016-04-27 DDBJ rel. 104.0 (Mar, 2016) に更新。
	<li>2015-09-08 <a target='_blank' href='http://www.ensembl.org/info/about/species.html'>Ensembl</a>
		から14種のゲノムを追加。
	<li>2015-09-08 <a target='_blank' href='http://metazoa.ensembl.org/species.html'>EnsemblMetazoa</a>
		から35種のゲノムを追加。
	<li>2015-09-08 <a target='_blank' href='http://plants.ensembl.org/species.html'>EnsemblPlants</a>
		から39種のゲノムを追加。
	<li>2015-09-08 <a target='_blank' href='http://phytozome.jgi.doe.gov/'>Phytozome</a>
		から23種のゲノムを追加。
	<li>2015-07-22 100種以上のゲノムを追加 -
		<a href='help.html#db_list'>検索可能なデータベース一覧</a>
	<li>2015-03-18 検索の方向を限定するオブションを追加。
	<li>2015-01-13 HTTPSによる暗号化通信に対応 -
		<a href='https://GGGenome.dbcls.jp/'>https://GGGenome.dbcls.jp/</a>
	<li>2014-10-01 検索結果はHTML, TXT, JSONに加えCSV, BED, GFF形式の出力にも新たに対応。
	<li>2014-10-01 N, R, Yなどのあいまいな塩基を含む配列の検索に対応。
	<li><a href='help.html#news'>過去の新着情報</a>
</ul>
</div>
