<script type='text/javascript'>
<!--
document.gggenome.query.focus()
//-->
</script>

<div>
Search example:
<ul>
	<li><font color=purple>[</font>
		<a href='TTCATTGACAACATT'>TTCATTGACAACATT</a>
		<font color=purple>]</font> ...... Search for a nucleotide sequence
	<li><a href='help.html'>How to use in detail ...</a>
</ul>
</div>

<div>
URIs:
<ul>
	<li>http://GGGenome.dbcls.jp/<!--
		--><span style='color:#ff6600'>db</span>/<!--
		--><span style='color:#0000ff'>k</span>/<!--
		--><span style='color:#008000'>sequence</span><!--
		-->[.<span style='color:#FF0080'>format</span>]<!--
		-->[.<span style='color:brown'>download</span>]
	<ul>
		<li><span style='color:#ff6600'>db</span>:
			hg19, mm10, rn5, calJac3, susScr3, galGal4, xenTro3, danRer7, ci2, dm3, ce10, TAIR10,<br>
			rice, sorBic, bmor1, sacCer3, refseq, hs_refseq, prok, ddbj. (default: hg19)
		<li><span style='color:#0000ff'>k</span>:
			Maximum number of mismatches/gaps. (default: 0)
		<li><span style='color:#008000'>sequence</span>:
			Nucleotide sequence, case insensitive.
		<li><span style='color:#FF0080'>format</span>:
			html, txt, json. (default: html)
		<li><span style='color:brown'>download</span>:
			Download result as a file. (optional)
	</ul>
	<li>Example 1: <a href='http://GGGenome.dbcls.jp/TTCATTGACAACATT'><!--
		-->http://GGGenome.dbcls.jp/<!--
		--><span style='color:#008000'>TTCATTGACAACATT</span><!--
		--></a>
	<ul>
		<li>Search <span style='color:#008000'>TTCATTGACAACATT</span> in
		<li>human genome <span style='color:#ff6600'>hg19</span> (default),
		<li>with perfect matches (default),
		<li>output in <span style='color:#FF0080'>html</span> format (default).
	</ul>
	<li>Example 2: <a href='http://GGGenome.dbcls.jp/mm10/2/TTCATTGACAACATTGCGT.txt'><!--
		-->http://GGGenome.dbcls.jp/<!--
		--><span style='color:#ff6600'>mm10</span>/<!--
		--><span style='color:#0000ff'>2</span>/<!--
		--><span style='color:#008000'>TTCATTGACAACATTGCGT</span><!--
		-->.<span style='color:#FF0080'>txt</span><!--
		--></a>
	<ul>
		<li>Search <span style='color:#008000'>TTCATTGACAACATTGCGT</span> in
		<li>mouse genome <span style='color:#ff6600'>mm10</span>,
		<li>allowing <span style='color:#0000ff'>2</span> mismatches/gaps,
		<li>output in tab-delimited <span style='color:#FF0080'>txt</span> format.
	</ul>
</ul>
</div>

<div>
What's new:
<ul>
	<li>2014-07-17 Marmoset genome is available.
	<li>2014-07-17 Database updated to RefSeq rel. 66 (Jul, 2014).
	<li>2014-06-02 Pig and <i>Sorghum</i> genomes are available.
	<li>2013-12-25 <i>S. cerevisiae</i> genome is available.
	<li>2013-12-18 Database updated to TogoGenome from RefSeq 62 (Nov, 2013).
	<li>2013-08-19 Tips: <a class=a target='_blank'
		href='https://docs.google.com/spreadsheet/ccc?key=0AqoKv30zqpDbdHJpSFI1SzJOZmxjVkYzUXByMFhrWWc&usp=sharing'><!--
		-->GGGenome search using Google Spreadsheet</a>.
	<li>2013-02-06 Source code available via
		<a class=a target='_blank' href='https://github.com/meso-cacase/GGGenome'>GitHub</a>.
	<li><a href='help.html#news'>News archives</a>
</ul>
</div>
