<script type='text/javascript'>
<!--
document.gggenome.query.focus()
//-->
</script>

<h4>検索例</h4>

<div>
<ul>
	<li><font color=purple>[</font>
		<a href='TTCATTGACAACATT'>TTCATTGACAACATT</a>
		<font color=purple>]</font> ...... 塩基配列を検索
	<li><a href='help.html'>詳細な使い方</a>
	<li>遺伝子や転写産物のキーワード検索は
		<a target='_blank' href='https://GGRNA.dbcls.jp/'>
			<img height=20 src='GGRNAlogo_small.png' alt='GGRNA' style='vertical-align:-4px'></a>《ぐぐるな》へ
		<ul>
			<li>例）ヒトの「nanog」を検索：
				<a target='_blank' href='https://GGRNA.dbcls.jp/hs/nanog' class=k><!--
				-->https://GGRNA.dbcls.jp/hs/nanog</a>
		</ul>
</ul>
</div>

<h4>検索結果へのリンク</h4>

<div>
<ul>
	<li>http[s]://GGGenome.dbcls.jp/<!--
		--><span style='color:#FF6600'>db</span>/<!--
		--><span style='color:#0000FF'>k</span>/<!--
		-->[<span style='color:#9933FF'>strand</span>]/<!--
		-->[<span style='color:#00CCCC'>nogap</span>]/<!--
		--><span style='color:#008000'>sequence</span><!--
		-->[.<span style='color:#FF0080'>format</span>]<!--
		-->[.<span style='color:brown'>download</span>]
	<ul>
		<li><span style='color:#FF6600'>db</span> &rarr;
			hg19, mm10, dm3, ce10, TAIR10, pombe, refseq, etc. 省略時は hg19<br>
			<a href='help.html#db_list'>検索可能なデータベース一覧</a>
		<li><span style='color:#0000FF'>k</span> &rarr;
			許容するミスマッチ/ギャップの数。あまり大きいとしぼうする。省略時は 0
		<li><span style='color:#9933FF'>strand</span> &rarr;
			'+' ('plus') または '-' ('minus') で特定の方向のみ検索。省略時は両方向を検索
		<li><span style='color:#00CCCC'>nogap</span> &rarr;
			ギャップを許容せず <span style='color:#0000FF'>k</span> 塩基以内のミスマッチのみ許容して検索する
		<li><span style='color:#008000'>sequence</span> &rarr;
			塩基配列。大文字・小文字は区別しない
		<li><span style='color:#FF0080'>format</span> &rarr;
			html, txt, csv, bed, gff, json。省略時は html
		<li><span style='color:brown'>download</span> &rarr;
			URLの最後に付加すると検索結果をファイルとしてダウンロードできる
	</ul>
	<li>例1：<a href='https://GGGenome.dbcls.jp/TTCATTGACAACATT'><!--
		-->https://GGGenome.dbcls.jp/<!--
		--><span style='color:#008000'>TTCATTGACAACATT</span><!--
		--></a>
	<ul>
		<li>ヒトゲノム <span style='color:#FF6600'>hg19</span> (省略可) で
		<li>ミスマッチ/ギャップを許容せず (省略可)
		<li><span style='color:#008000'>TTCATTGACAACATT</span> を検索し
		<li><span style='color:#FF0080'>html</span> 形式 (省略可) で結果を返す
	</ul>
	<li>例2：<a href='https://GGGenome.dbcls.jp/mm10/2/+/nogap/TTCATTGACAACATTGCGT.txt'><!--
		-->https://GGGenome.dbcls.jp/<!--
		--><span style='color:#FF6600'>mm10</span>/<!--
		--><span style='color:#0000FF'>2</span>/<!--
		--><span style='color:#9933FF'>+</span>/<!--
		--><span style='color:#00CCCC'>nogap</span>/<!--
		--><span style='color:#008000'>TTCATTGACAACATTGCGT</span><!--
		-->.<span style='color:#FF0080'>txt</span><!--
		--></a>
	<ul>
		<li>マウスゲノム <span style='color:#FF6600'>mm10</span> で
		<li><span style='color:#0000FF'>2</span> ミスマッチまで許容して
		<li><span style='color:#9933FF'>+</span> 方向に限定して
		<li>ギャップを許容しない <span style='color:#00CCCC'>nogap</span> モードで
		<li><span style='color:#008000'>TTCATTGACAACATTGCGT</span> を検索し
		<li><span style='color:#FF0080'>txt</span> 形式 (タブ区切りテキスト) で結果を返す
	</ul>
</ul>
</div>

<h4>新着情報</h4>

<div>
<ul>
	<li>2023-05-18 RefSeq rel. 217 (Mar, 2023) に更新。
	<li>2023-03-31 理研のpre-spliced &amp; spliced RNAデータベース<!--
		--><a target='_blank' href='https://d3g.riken.jp/release/23.02/'>D3G 23.02</a> (Feb, 2023) に更新。
	<li>2022-05-24 DDBJ rel. 125.0 (Dec, 2021) に更新。
	<li>2021-05-10 GGGenomeの新しいロゴを公開。
	<li>2021-03-28 GENCODE ヒト 37 (Feb, 2021) および マウス M26 (Feb, 2021) に更新。
	<li>2020-11-07 マウスゲノム GRCm39/mm39 (Jun, 2020) を追加。
	<li>2020-03-21 新型コロナウイルス SARS-CoV-2 ゲノムを追加 -
		<a target='_blank' href='https://github.com/meso-cacase/GGGenome/wiki/SARS-CoV-2'>コロナ更新情報</a>
	<li>2020-03-21 日本人基準ゲノム配列 JG1 を追加。
	<li><a href='https://github.com/meso-cacase/GGGenome/wiki/GGGenome-news-archive-%7C-ja'>過去の新着情報</a> および <!--
		--><a href='https://github.com/meso-cacase/GGGenome/wiki/Database-update-history'>データベースの追加更新リスト</a>
</ul>
</div>
