.x-body {
	margin: 8px;
}
.x-form-trigger-wrap {
	border-color: silver;  /* 生物種選択メニューの枠線 */
}
.x-boundlist-item {
	line-height: 17px;     /* 生物種選択メニューの行間 */
}
.pagingToolbar-render {
	border-top: dotted 1px silver;  /* ページャの区切り線 */
}
.dblist-render {
	display: inline-block;
	vertical-align: middle;
}
.dblist-render *{
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}
.dblist-boundlist li {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}
h4 {
	font-size: 14px;
}
.search {
	background: url(glass.png) no-repeat 100% center;
	background-size: 16px 16px;
	padding: 1px 18px 2px 3px;
}
